<a href="https://colab.research.google.com/github/gabayae/colab-notebooks-in2py/blob/main/In2Py_TP_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [ ]:
x=list()
print(x)

[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [1]:
x=list(range(0,7))
print(x)

[0, 1, 2, 3, 4, 5, 6]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [ ]:
len(x)

7

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [3]:
print('',x[0])
print('',x[((len(x)-1)//2)])
print('',x[-1])

 0
 3
 6

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [9]:
mixed_data_types = ('nom', 'âge', 'taille', 'état civil', 'adresse')
print(mixed_data_types)

('nom', 'âge', 'taille', 'état civil', 'adresse')

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [84]:
#1. Déclaration d'une variable liste appelée it_companies 
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

#2. Imprimez la liste à l'aide de print()
print("----------------------------------------------------------------------------------")
print("1-Liste:",it_companies)

#3. Imprimez le nombre d'entreprises dans la liste
print("----------------------------------------------------------------------------------")
print("2-Nombre d'entreprises : ", len(it_companies))

#4. Imprimez la première, la moyenne et la dernière entreprise
print("----------------------------------------------------------------------------------")
print("3-Première entreprise : ", it_companies[0])
print("Moyenne entrprise : ", it_companies[(len(it_companies)//2)])
print("Dernière entreprise : ", it_companies[-1])

# 5. Imprimez la liste après avoir modifié l'une des entreprises.
print("----------------------------------------------------------------------------------")
it_companies[3] = "Tiktok"
print("4-Liste:", it_companies)

# 6. Ajout d'une entreprise informatique à it_companies
print("----------------------------------------------------------------------------------")
it_companies.append("Apple")
print("5-Liste:", it_companies)

#7. Insérer une entreprise informatique au milieu de la liste des entreprises
print("----------------------------------------------------------------------------------")
it_companies.insert((len(it_companies) - 1)//2 +1 , 'Hmdt')
print("6-Liste:", it_companies)

#8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)
print("----------------------------------------------------------------------------------")
it_companies[3] = it_companies[3].upper()
print("7-Liste:", it_companies)

# 9. Joignez les it_companies avec une chaîne '# ; '
print("----------------------------------------------------------------------------------")
chaine = ['# ; ']
it_companies = it_companies + chaine
print("8-Jointure:", it_companies)

#10. Vérifier si une certaine entreprise existe dans la liste it_companies.
print("----------------------------------------------------------------------------------")
print("9- Variable Amazon existe à la position : ", it_companies.index("Amazon"))

#11. Trier la liste en utilisant la méthode sort()
print("----------------------------------------------------------------------------------")
it_companies.sort()
print("10-Tri-list : ", it_companies)

#12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse()
print("----------------------------------------------------------------------------------")
it_companies.reverse()
print("11-reverse-list : ", it_companies)

#13. Supprimez les 3 premières entreprises de la liste.
print("----------------------------------------------------------------------------------")
it_companies.pop(0)
it_companies.pop(0)
it_companies.pop(0)
print("12-after_supp_list : ", it_companies)

#14. Supprimez les 3 dernières entreprises de la liste.
print("----------------------------------------------------------------------------------")
it_companies.pop(len(it_companies) - 1)
it_companies.pop(len(it_companies) - 1)
it_companies.pop(len(it_companies) - 1)
print("13-after_supp_list : ", it_companies)

# 15. Supprimez la ou les entreprises informatiques du milieu de la liste.
print("----------------------------------------------------------------------------------")
it_companies.pop((len(it_companies) - 1)//2)
it_companies.pop((len(it_companies) - 1)//2)
print("14-after_supp_list : ", it_companies)

#16. Supprimez la première entreprise informatique de la liste
print("----------------------------------------------------------------------------------")
it_companies.pop(0)
print("15-after_supp_list : ", it_companies)

# 19. Supprimez toutes les entreprises informatiques de la liste
print("----------------------------------------------------------------------------------")
it_companies.clear()
print("17-after_supp_all : ", it_companies)

#20. Détruire la liste des entreprises informatiques
print("----------------------------------------------------------------------------------")
del(it_companies)

----------------------------------------------------------------------------------
1-Liste: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
----------------------------------------------------------------------------------
2-Nombre d'entreprises :  7
----------------------------------------------------------------------------------
3-Première entreprise :  Facebook
Moyenne entrprise :  Apple
Dernière entreprise :  Amazon
----------------------------------------------------------------------------------
4-Liste: ['Facebook', 'Google', 'Microsoft', 'Tiktok', 'IBM', 'Oracle', 'Amazon']
----------------------------------------------------------------------------------
5-Liste: ['Facebook', 'Google', 'Microsoft', 'Tiktok', 'IBM', 'Oracle', 'Amazon', 'Apple']
----------------------------------------------------------------------------------
6-Liste: ['Facebook', 'Google', 'Microsoft', 'Tiktok', 'Hmdt', 'IBM', 'Oracle', 'Amazon', 'Apple']
----------------------------------------------------------------------------------
7-Liste: ['Facebook', 'Google', 'Microsoft', 'TIKTOK', 'Hmdt', 'IBM', 'Oracle', 'Amazon', 'Apple']
----------------------------------------------------------------------------------
8-Jointure: ['Facebook', 'Google', 'Microsoft', 'TIKTOK', 'Hmdt', 'IBM', 'Oracle', 'Amazon', 'Apple', '# ; ']
----------------------------------------------------------------------------------
9- Variable Amazon existe à la position :  7
----------------------------------------------------------------------------------
10-Tri-list :  ['# ; ', 'Amazon', 'Apple', 'Facebook', 'Google', 'Hmdt', 'IBM', 'Microsoft', 'Oracle', 'TIKTOK']
----------------------------------------------------------------------------------
11-reverse-list :  ['TIKTOK', 'Oracle', 'Microsoft', 'IBM', 'Hmdt', 'Google', 'Facebook', 'Apple', 'Amazon', '# ; ']
----------------------------------------------------------------------------------
12-after_supp_list :  ['IBM', 'Hmdt', 'Google', 'Facebook', 'Apple', 'Amazon', '# ; ']
----------------------------------------------------------------------------------
13-after_supp_list :  ['IBM', 'Hmdt', 'Google', 'Facebook']
----------------------------------------------------------------------------------
14-after_supp_list :  ['IBM', 'Facebook']
----------------------------------------------------------------------------------
15-after_supp_list :  ['Facebook']
----------------------------------------------------------------------------------
17-after_supp_all :  []
----------------------------------------------------------------------------------

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [17]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']
print('',front_end+back_end)

 ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [142]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("min={},max={}".format(min(ages),max(ages)))
ages.extend([min(ages),max(ages)])
print(ages)
# 3. Trouvez l'âge médian
print("----------------------------------------------------------------------------------")
ages.sort()
print("1 - Age médian : ", ages[(len(ages) - 1)//2])

#Trouvez l'âge moyen
ageM = sum(ages)/(len(ages) - 1)
print("2- Age moyen : ", ageM)

#Trouver l'intervalle des âges
intervalle = max(ages) - min(ages)
print("3 -Intervalle ages : ",intervalle)

#Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

M1 = abs(min(ages)-moy)
M2 = abs(max(ages)-moy)
abs(M1)<abs(M2)

min=19,max=26
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
----------------------------------------------------------------------------------
1 - Age médian :  24
2- Age moyen :  24.818181818181817
3 -Intervalle ages :  7

True

In [139]:
ages[(len(ages)//2)]
sum(ages)/l
moy=max(ages)-min(ages)
abs(min(ages)-moy)
abs(max(ages)-moy)
abs(min(ages)-moy)>abs(max(ages)-moy)

False

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [118]:
dog=dict()
dog['nom'],dog['couleur'], dog['race'],dog['pattes'],dog['age']='chat','noir', 'carni',4,6
dog

{'nom': 'chat', 'couleur': 'noir', 'race': 'carni', 'pattes': 4, 'age': 6}

In [137]:
student={'prenom':'chadrack','nom':'bahati','sexe':'M', 'age':15, 'etat civil':'celibataire','competances':['maths','politique','ecriture'],'pays':'RDC','ville':'Picho','adresse':'Mbour'}
#Obtenez la longueur du dictionnaire student
print("----------------------------------------------------------------------------------")

print("Taille :",len(student))

#Récupérez la valeur des compétences et vérifiez le type de données
print("----------------------------------------------------------------------------------")

print(type(student['competances']))
#Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
print("----------------------------------------------------------------------------------")
student['competances'].extend(['sapologie','chretien'])
print(student['competances'])
#Obtenez les clés du dictionnaire sous forme de liste
print("----------------------------------------------------------------------------------")
print(student.keys())
#Obtenir les valeurs du dictionnaire sous forme de liste
print("----------------------------------------------------------------------------------")
print(student.values())

#Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
print("----------------------------------------------------------------------------------")
student.items()
print(student)
#Supprimer un des éléments du dictionnaire
print("----------------------------------------------------------------------------------")
student.pop('prenom')
print(student)
#Supprimer un des dictionnaires
del(dog)

----------------------------------------------------------------------------------
Taille : 9
----------------------------------------------------------------------------------
<class 'list'>
----------------------------------------------------------------------------------
['maths', 'politique', 'ecriture', 'sapologie', 'chretien']
----------------------------------------------------------------------------------
dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competances', 'pays', 'ville', 'adresse'])
----------------------------------------------------------------------------------
dict_values(['chadrack', 'bahati', 'M', 15, 'celibataire', ['maths', 'politique', 'ecriture', 'sapologie', 'chretien'], 'RDC', 'Picho', 'Mbour'])
----------------------------------------------------------------------------------
{'prenom': 'chadrack', 'nom': 'bahati', 'sexe': 'M', 'age': 15, 'etat civil': 'celibataire', 'competances': ['maths', 'politique', 'ecriture', 'sapologie', 'chretien'], 'pays': 'RDC', 'ville': 'Picho', 'adresse': 'Mbour'}
----------------------------------------------------------------------------------
{'nom': 'bahati', 'sexe': 'M', 'age': 15, 'etat civil': 'celibataire', 'competances': ['maths', 'politique', 'ecriture', 'sapologie', 'chretien'], 'pays': 'RDC', 'ville': 'Picho', 'adresse': 'Mbour'}

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS !🎉 </span> </b></center>