In [4]:
#1-(i)
i = 0
S = 0
n = int(input("Entrer un nombre naturel : "))
while i < n :
    S = S + i + 3
    i = i + 1
print(S)

Entrer un nombre naturel : 4
18

In [6]:
#1 - (ii)
i = 0
P = 1
n = int(input("Entrer un nombre naturel : "))
while i < n :
    P = P * (i + 3)
    i = i + 1
print(P)

Entrer un nombre naturel : 4
360

In [8]:
#2-
day = int(input("Entrer numero d'un jour entre 0 et 6 :"))

if day == 0 :
    print(day , ' : Lundi')
elif day == 1 :
    print(day , ' : Mardi')
elif day == 2 :
    print(day , ' : Mercredi')
elif day == 3 :
    print(day , ' : Jeudi')
elif day == 4 :
    print(day , ' : Vendredi')
elif day == 5 :
    print(day , ' : Samedi')
elif day == 6 :
    print(day , ' : Dimanche')
else : 
    print('Weekend')

Entrer numero d'un jour entre 0 et 6 :5
5  : Samedi

In [9]:
#3-
m = int(input("Entrer mois de l'annee entre 0 et 11:"))

if m == 0 :
    print(m , ' : Janvier')
    print('Ce mois compte 31 jours')
elif m == 1 :
    print(m , ' : Février')
    print('Ce mois compte 28 jours')
elif m == 2 :
    print(m , ' : Mars')
    print('Ce mois compte 31 jours')
elif m == 3 :
    print(m , ' : Avril')
    print('Ce mois compte 30 jours')
elif m == 4 :
    print(m , ' : Mai')
    print('Ce mois compte 31 jours')
elif m == 5 :
    print(m , ' : Juin')
    print('Ce mois compte 30 jours')
elif m == 6 :
    print(m , ' : Juillet')
    print('Ce mois compte 31 jours')
elif m == 7 :
    print(m , ' : Août')
    print('Ce mois compte 31 jours')
elif m == 8 :
    print(m , ' : Septembre')
    print('Ce mois compte 30 jours')
elif m == 9 :
    print(m , ' : Octobre')
    print('Ce mois compte 31 jours')
elif m == 10 :
    print(m , ' : Novembre')
    print('Ce mois compte 30 jours')
elif m == 11 :
    print(m , ' : Décembre')
    print('Ce mois compte 31 jours')

Entrer mois de l'annee entre 0 et 11:8
8  : Septembre
Ce mois compte 30 jours

In [11]:
# 4-(first : for loop)
for i in range(3) :
    print("HOUENAGNON Merveil")

HOUENAGNON Merveil
HOUENAGNON Merveil
HOUENAGNON Merveil

In [12]:
# 4-(first : while loop)
i = 0
while i < 3 :
    print("HOUENAGNON Merveil")
    i = i + 1

HOUENAGNON Merveil
HOUENAGNON Merveil
HOUENAGNON Merveil

In [25]:
# 5 -
a0 = 0
a1 = 1
 
print("\n la suite des 15 premiers nombres de fibonacci est :")
tab = [a0, a1]
for i in range(2, 15):
  new = a0 + a1
  tab.append(new)
  a0 = a1
  a1 = new
print(tab)

 la suite des 15 premiers nombres de fibonacci est :
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [24]:
# 6 -
x0 = 0
x1 = 1
print("\n les 30 premiers termes définies à partir de la séquence définie est:")
print(x0)
print(x1)
for i in range(0, 28):
  new = ((6*x0) + x1)/2
  print(new)
  x0 = x1
  x1 = new

 les 30 premiers termes définies à partir de la séquence définie est:
0
1
0.5
3.25
3.125
11.3125
15.03125
41.453125
65.8203125
157.26953125
276.095703125
609.8564453125
1133.21533203125
2396.177001953125
4597.7344970703125
9487.398254394531
18536.902618408203
37730.646072387695
74476.03089141846
150429.9536628723
298643.0695056915
600611.3957414627
1196234.906387806
2399951.640418291
4788680.539372563
9594195.190941155
19163139.213588268
38364155.1796176
76671495.2305736
153428213.15413958

In [150]:
#7-(a)
annee = int(input("Entrer annee :"))
if (annee%4 == 0 and annee%100 !=0) or annee%400 == 0 :
    print("Cette annee est bixestile")
else:
    print("Annee non bixestile")

Entrer annee :2022
Annee non bixestile

In [154]:
#7-(b)
annee = int(input("Entrer annee :"))
a = (annee%4 == 0 and annee%100 !=0) or annee%400 == 0
print(a)

Entrer annee :2024
True

In [38]:
#8- (a : loop while)
n = int(input("Saisir un entier :"))
i = 1
s = 0
while i <= n : 
    s = s + (i*i)
    i = i + 1
print(s)

Saisir un entier :5
55

In [37]:
#8- (a : loop for)
n = int(input("Saisir un entier :"))
l = list(range(1, n+1))
s = 0
for i in l:
    s = s + (i*i)
    i = i + 1
print(s)

Saisir un entier :5
55

In [85]:
#8- (b : while version)
M = int(input("Saisir un entier :"))
i = 1
s = 0
while s < M : 
    s = s + (i*i)
    c = i
    i = i + 1
print(c)

Saisir un entier :5
2

In [170]:
#8- (b : for version)
M = int(input("Saisir un entier :"))
for s in range(0 , M) :
    if s < M :
        c = i
    s = s +  i**2
    i = i + 1
print(c)

Saisir un entier :5
49

In [93]:
#9- (a)
n = int(input("Entrer un nombre n :"))
l = list(range(1 , n+1))
for i in l :
    if n%i == 0 :
        print(i)

Entrer un nombre n :8
1
2
4
8

In [94]:
#9 -(b)
n = int(input("Entrer un nombre n :"))
s = 0
l = list(range(1 , n+1))
for i in l :
    if n%i == 0 :
        s = s + i
print(s)

Entrer un nombre n :8
15

In [95]:
#10 -
n = int(input("Entrer un nombre n entre 0 et 9:"))
N = int(input("Entrer le nombre où on s'arrêtera :"))
i = 0
while i <= N :
    t = n*i
    print(n , 'x' , i, ' = ' , t )
    i = i + 1

Entrer un nombre n entre 0 et 9:4
Entrer le nombre où on s'arrêtera :12
4 x 0  =  0
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40
4 x 11  =  44
4 x 12  =  48

In [167]:
#11
tab =[]
for i in range(1, 40+1):
    if i%3 == 0 or i%7 == 0 or i%11 ==0:
        tab.append(i)
print(tab)

[3, 6, 7, 9, 11, 12, 14, 15, 18, 21, 22, 24, 27, 28, 30, 33, 35, 36, 39]

In [158]:
#12
a = float(input("x = "))
print("E(x) = ", int(a))

x = 18.567
E(x) =  18

In [126]:
#13
i = 0
while i != 1 :
    a = float(input("Abscisse :"))
    b = float(input("Ordonnée :"))

    if a > 0 and b > 0 :
        print("Cadran 1")
    elif a > 0 and b < 0 :
        print("Cadran 2")
    elif a < 0 and b < 0 :
        print("Cadrant 3")
    elif a < 0 and b >0 :
        print("Cadrant 4")
    else :
        print("Origine")
    i = int(input("Reprendre oui (0) ou non (1) :"))

Abscisse :4
Ordonnée :4
Cadran 1
Reprendre oui (0) ou non (1) :0
Abscisse :5
Ordonnée :5
Cadran 1
Reprendre oui (0) ou non (1) :0
Abscisse :-5
Ordonnée :-5
Cadrant 3
Reprendre oui (0) ou non (1) :1

In [ ]:
#14
i = 0

while i != 1 :
    j = 0
    while j != 1 :
        x = int(input("Donner nombre entre 0 et 9 :"))
        if (x<0) or (x>9) :
            j = 0
        else :
            j = 1
    j = 0        
    while j != 1 :
        max = int(input("Donner nombre entre 0 et 255 :"))
        if max < 0 or max > 255 :
            j = 0
        else : 
            j = 1
    tab = []
    for l in range(1, max+1):
        if l%x == 0 :
            tab.append(l)
    print(tab)
    
    i = int(input("Reprendre oui (0) ou non (1) :"))

Donner nombre entre 0 et 9 :5
Donner nombre entre 0 et 255 :15
[5, 10, 15]